<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:02:03</td>   <td>0</td> <td title="&gt;&gt;UnitTestClassBase.beforeSuite()[pri:0, instance:testcases.TC001_Login@5b275dab]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:02:03</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.startReport()[pri:0, instance:testcases.TC001_Login@5b275dab]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:02:03</td>   <td>145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.beforeClass()[pri:0, instance:testcases.TC001_Login@5b275dab]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:02:03</td>   <td>167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testcases.TC001_Login@5b275dab]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/03/20 13:02:18</td>   <td>15127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.tc001_Login(int, java.util.Map)[pri:0, instance:testcases.TC001_Login@5b275dab]">tc001_Login</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:02:25</td>   <td>21535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.TC001_Login@5b275dab]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:02:26</td>   <td>22753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testcases.TC001_Login@5b275dab]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/03/20 13:02:40</td>   <td>36569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.tc001_Login(int, java.util.Map)[pri:0, instance:testcases.TC001_Login@5b275dab]">tc001_Login</td> 
  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:03:43</td>   <td>99642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.TC001_Login@5b275dab]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:03:44</td>   <td>101206</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterClass()[pri:0, instance:testcases.TC001_Login@5b275dab]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:03:44</td>   <td>101209</td> <td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterTest()[pri:0, instance:testcases.TC001_Login@5b275dab]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/03/20 13:03:45</td>   <td>101473</td> <td title="&lt;&lt;UnitTestClassBase.afterSuite()[pri:0, instance:testcases.TC001_Login@5b275dab]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
</table>
