<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegressionTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterClass()[pri:0, instance:testcases.TC001_Login@d8355a8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:17</td>   <td>-37897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.TC001_Login@d8355a8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:34</td>   <td>-20321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.TC001_Login@d8355a8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:52</td>   <td>-1987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.TC001_Login@d8355a8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:55</td>   <td>255</td> <td title="&lt;&lt;UnitTestClassBase.afterSuite()[pri:0, instance:testcases.TC001_Login@d8355a8]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:54</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;UnitTestClassBase.afterTest()[pri:0, instance:testcases.TC001_Login@d8355a8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:58:56</td>   <td>-58656</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.beforeClass()[pri:0, instance:testcases.TC001_Login@d8355a8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:58:56</td>   <td>-58653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testcases.TC001_Login@d8355a8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:18</td>   <td>-36662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testcases.TC001_Login@d8355a8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:59:36</td>   <td>-18326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testcases.TC001_Login@d8355a8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:58:56</td>   <td>-58787</td> <td title="&gt;&gt;UnitTestClassBase.beforeSuite()[pri:0, instance:testcases.TC001_Login@d8355a8]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/18 22:58:56</td>   <td>-58779</td> <td>&nbsp;</td><td title="&gt;&gt;UnitTestClassBase.startReport()[pri:0, instance:testcases.TC001_Login@d8355a8]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>19/03/18 22:59:13</td>   <td>-41033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.tc001_Login()[pri:0, instance:testcases.TC001_Login@d8355a8]">tc001_Login</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>19/03/18 22:59:34</td>   <td>-20366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.verifyLogo()[pri:0, instance:testcases.TC001_Login@d8355a8]">verifyLogo</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>19/03/18 22:59:52</td>   <td>-2017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.verifyTitle()[pri:0, instance:testcases.TC001_Login@d8355a8]">verifyTitle</td> 
  <td>main@258754732</td>   <td></td> </tr>
</table>
